<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "Document", css: 'document'})%>

<body id="<%= room %>">
  <header>
    <h1><%= room %></h1>
    <p id="onlineCounter"></p>
    <span tabindex="2" id="saveButton" onclick="history.back()">Save</span>
  </header>
  <main>
    <div class="wrapper">
    <textarea name="" id="editor" wrap="hard" autofocus></textarea>
  </div>
    <pre><code class="markdown" id="output"> </code></pre>
  </main>

</body>
<script src="../js/docViewer.js" type="text/javascript"></script>
</html> 

<!-- 
  sockets en welke data word gestuurd, en wat komt e rop terrug
  spcletevents
  
 -->