<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "Documents", css: 'homepage'})%>

<body>
  <main>
    <header>
      <h1>Markdown files</h1>
      <p>Markeer is a collaborative markdown editor in which you can work together to write markdown files. Create a new file or enter an existing one and share the link with your collaborators!</p>
    </header>
    <!-- make a document -->
    <form action="/doc/handleDoc" method="POST">
      <fieldset>
        <legend>Find or Create a markdown file</legend>
        <input type="text" name="docName" id="docName" autocomplete="off" list="documentList" placeholder="Document name">
        <button type="submit">Find</button>
      </fieldset>
    </form>
    <!-- Create datalist for for selection -->
    <datalist id="documentList">

    </datalist>
    <!-- we'll list all docs here -->
    <div>

    </div>
  </main>
</body>
<script defer src="./js/homepage.js"></script>
</html> 