@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,700&display=swap');

:root {
  --item-bg:hsl(0, 0%, 100%);
  --bg: hsl(109, 0%, 96%);
  --txt: hsl(215, 19%, 21%);
  --white-txt:hsl(0, 0%, 100%);
  --snd-txt: hsl(215, 19%, 50%);
  --acc-200: hsl(203, 80%, 20%);
  --acc-400: hsl(203, 80%, 49%);
  --acc-600: hsl(203, 80%, 60%);
  --shadow: rgba(9,45,66,.25);
  --font-titling: 'Space Mono', monospace;
}



* {
  box-sizing: border-box;
  line-height: 1.6;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

:focus {
  outline: 3px solid var(--acc-600);
  outline-offset: 2px;   
}

body {
  margin: 0;
}

header {
  margin-bottom: 1em;
}

p {
  max-width: clamp(65ch, calc(50em - 4em), 76ch);
}

header {
  display: flex;
  align-content: center;
  background-color: var(--acc-200);
  padding: 0 2em;
}

header h1 {
  flex-grow: 1;
  font-family: var(--font-titling);
  letter-spacing: 2px;
  color: var(--acc-400);
}

header p {
  color: var(--snd-txt);
}


#saveButton {
  margin: 21.44px 0;
  text-align: center;
  width: 125px;
  height: 3em;
  padding: 0.5em 0;
  background-color: var(--acc-400);
  border: 2px solid var(--acc-400);
  border-radius: 2rem;
  color: var(--white-txt);
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 100ms ease-in, background-color 200ms ease-in, box-shadow 200ms ease-in-out 100ms;
}

#saveButton:hover {
  color: var(--acc-400);
  background-color: transparent;
  box-shadow: 0.2em 0.2em 0 0 var(--acc-400);
  cursor: pointer;
}


main {
  padding: 0 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1em;
}

#editor, #output {
  height: calc(100vh - 10vh);
}